.DS_Store
.vscode
api/index.js
api/**/*.js
api/node_modules
api/node_modules
backend/node_modules
frontend/build
frontend/test/selenium-test/**/__pycache__
frontend/node_modules
npm-debug.log
server/public/build
lcov.info