.DS_Store
.vscode
api/dist/
api/node_modules
api/node_modules
api/**/*.js
backend/node_modules
backend/NWS-logs
frontend/NWS-logs
frontend/build
frontend/test/selenium-test/**/__pycache__
frontend/**/*.pyc
frontend/node_modules
frontend/package-lock.json
npm-debug.log
server/public/build
lcov.info

api/package-lock.json
backend/package-lock.json
