# Website in a single container
# To build container image run "BUILD_VERSION=1.0 docker compose build"
services:
  app:
    image: ea_nws_website:${BUILD_VERSION}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '9000:9000'
      - '5000:5000'
      - '3000:3000'
# Website in multiple containers
#
#services:
#  api:
#    image: ea_nws_website-api:${BUILD_VERSION}
#    build:
#      context: api/.
#      dockerfile: Dockerfile
#    ports:
#      - '9000:9000'
#  backend:
#    image: ea_nws_website-backend:${BUILD_VERSION}
#    build:
#      context: backend/.
#      dockerfile: Dockerfile
#    ports:
#      - '5000:5000'
#  frontend:
#    image: ea_nws_website-frontend:${BUILD_VERSION}
#    build:
#      context: frontend/.
#      dockerfile: Dockerfile
#    ports:
#      - '3000:3000'
