.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.govuk-header--full-width-border {
  border-bottom-color: #1d70b8;
}

.body-container {
  flex: 1;
  width: 93%;
}

.sub-navigation {
  background-color: #f3f2f1;
  box-shadow: inset 0 -0.0625rem 0 #b1b4b6;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 54px;
  align-content: center;
}

@media (min-width: 40.0625em) {
  .sub-navigation {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.sub-navigation__list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 40.0625em) {
  .sub-navigation__list.sub {
    box-shadow: inset 0 -0.0625rem 0 #b1b4b6;
    width: 100%;
    padding-bottom: 5px;
    
  }
}



.sub-navigation__item {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  box-shadow: none;
  display: block;
  margin-top: -1px;
  margin-bottom: -4px;
}

@media (min-width: 40.0625em) {
  .sub-navigation__item {
    font-size: 1.1875rem;
    box-shadow: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0;
  }
}

.sub-navigation__item.closed {
  display: none;
}

@media (min-width: 40.0625em) {
  .sub-navigation__item.closed {
    display: inline-block;
  }
}

.sub-navigation__link {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  text-decoration: none;
  position: relative;
}

@media (min-width: 40.0625em) {
  .sub-navigation__link {
    padding-left: 0;
  }
}

.sub-navigation__link:visited {
  color: #1d70b8;
}

.sub-navigation__link:link,
.sub-navigation__link:visited {
  color: #1d70b8;
}

.sub-navigation__link[aria-current='page'] {
  color: #1d70b8;
  position: relative;
  text-decoration: none;
}

.sub-navigation__link[aria-current='page']:before {
  background-color: #1d70b8;
  content: '';
  display: block;
  height: 60%;
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 4px;
}

@media (min-width: 40.0625em) {
  .sub-navigation__link[aria-current='page']:before {
    height: 5px;
    width: 100%;
    bottom: 0;
  }
}

.sub-navigation-org {
  margin-left: -1.875rem;
  margin-top: -22px;
  background: #f3f2f1;
}

.sub-navigation-org__list {
  font-size: 0;
  list-style: none;
  padding-left: 1.875rem;
}
@media (min-width: 40.0625em) {
  .sub-navigation-org__list {
    border-top: 1px solid #b1b4b6;
    border-bottom: 1px solid #b1b4b6;
    width: 100%;
  }
}

.sub-navigation__item.bold {
  font-weight: 700;
}


.sub-navigation__menu {
  font-weight: 700;
  border: none;
  background: none;
  color: #1d70b8;
  padding-left: 0;
  border-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
}

@media (min-width: 40.0625em) {
  .sub-navigation__menu {
    display: none;
  }
}
.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: inherit;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

@media (min-width: 40.0625em) {
  .menu-button  {
    display: none;
  }
}


.header-navigation-menu {
  color: white !important;
  list-style:none ;
  text-align: left;
  display:block;
 
  left:0;
}

.header-navigation-menu a:visited,
.header-navigation-menu a:link {
  color: white !important;
  list-style:none !important;
  text-decoration: none;
  text-align: left;
}

@media (min-width: 40.0625em) {
  .header-navigation-menu  {
    display: none;
  }
}



.header-navigation-menu-link {
  text-decoration: none;
  color: white;
  position: relative;
  display: block;
  padding: 12px 12px 12px ; 
  text-align: left;
}

/* Active page highlight */
.header-navigation-menu-link[aria-current='page'] {
  color: white;
  position: relative;
}

.header-navigation-menu-link[aria-current='page']::before {
  content: '';
  background-color: white; 
  display: block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 60%;
  bottom: 20%;
}

.header-navigation-submenu {
  list-style: none;
  padding-left: 12px;
  margin: 0;
}

.header-navigation-submenu-pages {
  margin: 0;
  padding: 0;
  text-align: left;
}

.header-navigation-submenu-link {
  text-decoration: none;
  color: white;
  position: relative;
  display: block;
  padding: 8px 12px; 
  text-align: left;
}


.header-navigation-submenu-link[aria-current='page'] {
  color: white;
  position: relative;
}

.header-navigation-submenu-link[aria-current='page']::before {
  content: '';
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  width: 4px;
  height: 60%;
  bottom: 20%;
}


.inline-link {
  display: inline-block;
  padding: 0.5rem 0.625rem 0.4375rem;
}

.inline-button {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.inline-button button {
  margin-top: -1.5rem;
}

.popup-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b0c0c99;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-x: hidden;
}

.popup-dialog-container {
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-style: solid;
  border-width: medium;
}

.popup-dialog-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
}


.popup-close-btn {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding-left: 1rem;
  line-height: 2.25rem;
}

.popup-close-txt {
  font-size: 1.25rem;
  color: white;
  margin: 0;
}

.popup-dialog-body {
  background-color: white;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.popup-dialog-flex {
  display: flex;
  justify-content: start;
  justify-items: start;
  gap: 1rem;
}

.popup-dialog-link {
  width: 100%;
}

@media (min-width: 40.0625em) {
  .popup-dialog-link {
    width: auto;
  }
}

.timeout-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b0c0c99;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.timeout-dialog-container {
  background-color: white;
  border-style: solid;
  border-width: medium;
  padding: 1.5rem;
}

.timeout-dialog-flex {
  display: flex;
  justify-content: start;
  justify-items: start;
  gap: 2rem;
}

.timeout-dialog-link {
  width: 100%;
}

@media (min-width: 40.0625em) {
  .timeout-dialog-link {
    width: auto;
  }
}

.row__header {
  width: 12.75em;
}

.live-map-container {
  height: 100vh;
}

@media (max-width: 1099px) {
  .map-container {
    height: 45vh;
  }
}

@media (min-width: 1100px) and (max-width: 1700px) {
  .map-container {
    height: 60vh;
  }
}

@media (min-width: 1700px) {
  .map-container {
    height: 40vh;
  }
}

.flood-warning-key {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.flood-warning-key-mobile {
  display: flex;
  align-items: center;
}

.warning-key-color {
  color: #f70202;
}

.alert-key-color {
  color: #ffa200;
}

.map-mobile-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
}

.flood-warning-key-mobile-view {
  position: absolute;
  bottom: 10px;
  z-index: 1000;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.org-location-information-header {
  color: #ffffff;
  background-color: #505a5f;
  padding: 0.625rem;
}

.org-location-comparison {
  display: flex;
}

.org-location-comparison-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.org-location-information-footer {
  color: #000000;
  background-color: #f3f2f1;
  padding: 0.625rem 0 0.625rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.org-location-information-footer.error {
  border-left: 5px solid #d4351c;
}

.map-confirm-location-box-mobile-view {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  background-color: white;
  width: 95%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.reset-map-button {
  position: absolute;
  bottom: 80px;
  right: 12px;
  z-index: 1000;
  background: white;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.back-map-button {
  transform: translateX(-50%);
  z-index: 1001;
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: white;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-width-button {
  width: auto !important;
}

.button-link-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.custom-header-link {
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 0;
  line-height: 1.25;
}

.custom-width-container {
  width: 100%;
  margin: auto;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}

@media(min-width:1440px){
  .custom-width-container{
    width:1440px;
  }
}

@media (min-width:1280px) and (max-width: 1439px) {
  .custom-width-container {
    width: 1280px;
  }
}



.cross-service-header__button {
  display: none;
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  position: relative;
  align-items: center;
  cursor: pointer;
  min-width: 240px;
  min-width: max-content;
  border: 0;
  margin: 0;
  padding: 10px 0 5px 20px;
  background: none;
}
.toggle-enabled .cross-service-header__button {
  display: inline;
  display: flex;
}
@media (min-width: 40.0625em) {
  .toggle-enabled .cross-service-header__button {
    display: none;
  }
}

@media print {
  .cross-service-header__button {
    font-family: sans-serif;
  }
}
@media print {
  .cross-service-header__button {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.cross-service-header__button:before {
  content: '';
  position: absolute;
  left: 0.15rem;
  top: 50%;
  box-sizing: border-box;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  transform: translateY(-65%) rotate(135deg);
  border-top: 0.15rem solid;
  border-right: 0.15rem solid;
}
.cross-service-header__button.cross-service-header__button--open:before {
  transform: translateY(-15%) rotate(-45deg);
}
.cross-service-header__button.cross-service-header__button--service-header {
  color: #1d70b8;
}
.cross-service-header__button.cross-service-header__button--service-header:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.cross-service-header__button.cross-service-header__button--service-header:focus:not(
    :focus-visible
  ) {
  outline: none;
  color: #1d70b8;
  background: none;
  box-shadow: none;
}
.cross-service-header__button.cross-service-header__button--service-header:focus-visible {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.cross-service-header__button.cross-service-header__button--one-login {
  color: #ffffff;
}
.cross-service-header__button.cross-service-header__button--one-login:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.cross-service-header__button.cross-service-header__button--one-login:focus:not(
    :focus-visible
  ) {
  outline: none;
  color: #ffffff;
  background: none;
  box-shadow: none;
}
.cross-service-header__button.cross-service-header__button--one-login:focus-visible {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.cross-service-header__button-icon {
  margin-left: 10px;
  font-size: 0;
}
.cross-service-header__button-icon.cross-service-header__button-icon--focus {
  display: none;
}
.cross-service-header__button:focus
  .cross-service-header__button-icon.cross-service-header__button-icon--default {
  display: none;
}
.cross-service-header__button:focus
  .cross-service-header__button-icon.cross-service-header__button-icon--focus {
  display: inline;
}
.cross-service-header__button:focus:not(:focus-visible)
  .cross-service-header__button-icon.cross-service-header__button-icon--default {
  display: inline;
}
.cross-service-header__button:focus:not(:focus-visible)
  .cross-service-header__button-icon.cross-service-header__button-icon--focus {
  display: none;
}
.cross-service-header__button:focus-visible
  .cross-service-header__button-icon.cross-service-header__button-icon--default {
  display: none;
}
.cross-service-header__button:focus-visible
  .cross-service-header__button-icon.cross-service-header__button-icon--focus {
  display: inline;
}

.one-login-header {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  color: #ffffff;
  background: #0b0c0c;
  position: relative;
}
@media print {
  .one-login-header {
    font-family: sans-serif;
  }
}
@media print {
  .one-login-header {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.one-login-header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.one-login-header__logo {
  min-width: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 33.33%;
}
@media (min-width: 48.0625em) {
  .one-login-header__logo {
    padding-right: 15px;
  }
}

.one-login-header__link:link,
.one-login-header__link:visited,
.one-login-header__nav__link:link,
.one-login-header__nav__link:visited {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
@media print {
  .one-login-header__link:link,
  .one-login-header__link:visited,
  .one-login-header__nav__link:link,
  .one-login-header__nav__link:visited {
    font-family: sans-serif;
  }
}
.one-login-header__link:link:link,
.one-login-header__link:link:visited,
.one-login-header__link:visited:link,
.one-login-header__link:visited:visited,
.one-login-header__nav__link:link:link,
.one-login-header__nav__link:link:visited,
.one-login-header__nav__link:visited:link,
.one-login-header__nav__link:visited:visited {
  color: #ffffff;
}
.one-login-header__link:link:hover,
.one-login-header__link:link:active,
.one-login-header__link:visited:hover,
.one-login-header__link:visited:active,
.one-login-header__nav__link:link:hover,
.one-login-header__nav__link:link:active,
.one-login-header__nav__link:visited:hover,
.one-login-header__nav__link:visited:active {
  color: rgba(255, 255, 255, 0.99);
}
.one-login-header__link:link:hover,
.one-login-header__link:visited:hover,
.one-login-header__nav__link:link:hover,
.one-login-header__nav__link:visited:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.1578em;
}
.one-login-header__link:link:focus,
.one-login-header__link:visited:focus,
.one-login-header__nav__link:link:focus,
.one-login-header__nav__link:visited:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.one-login-header__logotype {
  display: inline-block;
  margin-right: 5px;
}
@media (forced-colors: active) {
  .one-login-header__logotype {
    forced-color-adjust: none;
    color: linktext;
  }
}
.one-login-header__logotype:last-child {
  margin-right: 0;
}

.one-login-header__logotype-crown {
  position: relative;
  top: -1px;
  margin-right: 1px;
  fill: currentcolor;
  vertical-align: top;
}

.one-login-header__logotype-crown[width='32'] {
  top: -3px;
  margin-right: 2px;
}

.one-login-header__link--homepage {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  line-height: 1;
}
@media print {
  .one-login-header__link--homepage {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .one-login-header__link--homepage {
    display: inline;
  }
  .one-login-header__link--homepage:focus {
    box-shadow: 0 0 #ffdd00;
  }
}
.one-login-header__link--homepage:link,
.one-login-header__link--homepage:visited {
  text-decoration: none;
}
.one-login-header__link--homepage:hover,
.one-login-header__link--homepage:active {
  margin-bottom: -3px;
  border-bottom: 3px solid;
}
.one-login-header__link--homepage:focus {
  margin-bottom: 0;
  border-bottom: 0;
}

.one-login-header__nav {
  display: block;
}
.toggle-enabled .one-login-header__nav {
  display: none;
}
.toggle-enabled .one-login-header__nav.one-login-header__nav--open {
  display: block;
}
@media (min-width: 40.0625em) {
  .toggle-enabled .one-login-header__nav {
    display: block;
    height: 51.5px;
  }
}
@media (max-width: 40.0525em) {
  .one-login-header__nav {
    width: 100%;
  }
}
@media (min-width: 40.0625em) {
  .one-login-header__nav {
    max-width: 66%;
  }
}

.one-login-header__nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
@media (min-width: 40.0625em) {
  .one-login-header__nav__list {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.one-login-header__nav__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 0.5rem;
  cursor: pointer;
  position: relative; /* Add this to ensure the pseudo-elements are positioned correctly */
}

/* Styles for the active state */
.one-login-header__nav__list-item.active,
.one-login-header__nav__list-item:hover {
  background-color: #f3f2f1;
}

.one-login-header__nav__list-item.no-highlight:hover,
.one-login-header__nav__list-item.no-highlight.active {
  background-color: transparent !important;
}

.one-login-header__nav__list-item.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: #1d70b8;
}

.one-login-header__nav__list-item .active,
.one-login-header__nav__list-item:hover .highlighted {
  color: #1d70b8;
}

.one-login-header__nav__list-item.active span,
.one-login-header__nav__list-item:hover span {
  color: #1d70b8;
}

.one-login-header__nav__list-item svg {
  stroke: #ffffff;
}

.one-login-header__nav__list-item.active svg,
.one-login-header__nav__list-item:hover svg {
  stroke: #1d70b8;
}

@media (min-width: 40.0625em) {
  .one-login-header__nav__list-item {
    padding: 12px 20px 12px 20px;
    align-self: stretch;
  }
}
@media (max-width: 40.0525em) {
  .one-login-header__nav__list-item {
    width: 100%;
  }
  .one-login-header__nav__list-item:not(:last-child) {
    border-bottom: 1px solid #b1b4b6;
  }
}

@media (min-width: 40.0625em) {
  .one-login-header__nav__link.one-login-header__nav__link--one-login {
    display: flex;
    justify-content: center;
  }
  .one-login-header__nav__link.one-login-header__nav__link--one-login:focus
    .cross-service-header__button-icon {
    display: none;
  }
  .one-login-header__nav__link.one-login-header__nav__link--one-login:focus
    .cross-service-header__button-icon--focus {
    display: inline;
  }
}
@media (max-width: 40.0525em) {
  .one-login-header__nav__link.one-login-header__nav__link--one-login
    .cross-service-header__button-icon {
    display: none;
  }
}

.service-header {
  background-color: #f3f2f1;
  border-bottom: 1px solid #b1b4b6;
}

.service-header__container {
  padding-top: 5px;
}
@media (max-width: 40.0525em) {
  .service-header__container {
    margin-bottom: 5px;
  }
}
@media (min-width: 40.0625em) {
  .service-header__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.service-header__heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3125rem;
  line-height: 1.1904761905;
  color: #0b0c0c;
  padding: 15px 0;
  margin: 0;
  margin-right: 5rem;
}
@media print {
  .service-header__heading {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .service-header__heading {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
@media print {
  .service-header__heading {
    font-size: 18pt;
    line-height: 1.15;
  }
}
@media (max-width: 40.0525em) {
  .service-header__heading {
    padding: 5px 0;
  }
}

.service-header__nav {
  display: block;
}
.toggle-enabled .service-header__nav {
  display: none;
}
.toggle-enabled .service-header__nav.service-header__nav--open {
  display: block;
}
@media (min-width: 40.0625em) {
  .toggle-enabled .service-header__nav {
    display: block;
  }
}
@media (max-width: 40.0525em) {
  .service-header__nav {
    width: 100%;
  }
}

.service-header__nav-list {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media print {
  .service-header__nav-list {
    font-family: sans-serif;
  }
}
@media print {
  .service-header__nav-list {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .service-header__nav-list {
    font-family: 'GDS Transport', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print and (min-width: 40.0625em) {
  .service-header__nav-list {
    font-family: sans-serif;
  }
}
@media print and (min-width: 40.0625em) {
  .service-header__nav-list {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.service-header__nav-list-item {
  margin: 15px 0 20px;
}
.service-header__nav-list-item.service-header__nav-list-item--active {
  padding-left: 15px;
  border-left: 5px solid #1d70b8;
}
@media (min-width: 40.0625em) {
  .service-header__nav-list-item {
    display: inline-block;
    margin: 0 30px 0 0;
  }
  .service-header__nav-list-item:last-of-type {
    margin: 0;
  }
  .service-header__nav-list-item.service-header__nav-list-item--active {
    border-left: 0;
    padding-left: 0;
  }
}

.sub-navigation__subtitle {
  display: block;      
  font-size: 0.875rem;
  color: #6A6A6A; 
  margin-top: -4px;
  font-weight: 400;
}

.service-header__nav-list-item-link {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(2px, 0.125rem);
  text-underline-offset: 0.21em;
  color: #1d70b8;
  cursor: pointer;
}

@media print {
  .service-header__nav-list-item-link {
    font-family: sans-serif;
  }
}

.service-header__nav-list-item-link:hover {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
  color: #003078;
}

.service-header__nav-list-item-link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  text-decoration: underline;
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  text-underline-offset: 0.1578em;
}

.service-header__nav-list-item-link:link {
  color: #1d70b8;
}

.service-header__nav-list-item-link:visited {
  color: #1d70b8;
}

.service-header__nav-list-item-link:active {
  color: #0b0c0c;
}

.service-header__nav-list-item-link:not(:hover) {
  text-decoration: underline;
}

@media (min-width: 40.0625em) {
  .service-header__nav-list-item-link {
    display: inline-block;
    padding: 15px 0;
  }
}

.govuk-header__org-service-name {
  display: inline-block;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  font-weight: 700;
}
@media (min-width: 40.0625em) {
  .govuk-header__org-service-name {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.org-header-divider-line-container {
  display: flex;
  align-items: center;
  padding: 0rem 0.625rem 0rem 0rem;
}

.org-header-divider-line {
  height: 2.8rem;
  width: 0.0625rem;
  background-color: #b1b4b6;
}

.locations-filter-panel,
.contacts-filter-panel {
  border: 0.1rem solid #b1b4b6;
  padding-bottom: 1rem;
}

.locations-filter-header,
.contacts-filter-header {
  background-color: #b1b4b6;
  padding: 0.5rem 1rem 0.1rem 1.3rem;
}

.locations-filter-selected,
.contacts-filter-selected {
  border-style: none none solid;
  border-width: thin;
  border-color: #b1b4b6;
}

.warnings-name-filter,
.locations-name-filter,
.contacts-name-filter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.warnings-select-filter,
.locations-select-filter,
.contacts-select-filter {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 11rem;
}

.warnings-selected-filter-panel,
.locations-selected-filter-panel,
.contacts-selected-filter-panel {
  background-color: #f3f2f1;
  padding: 0.1rem 1rem 0.1rem 1.3rem;
}

.warnings-selected-filter,
.locations-selected-filter,
.contacts-selected-filter {
  border-style: solid;
  border-width: thin;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  gap: 0.2rem;
}

.locations-selected-filters-panel,
.contacts-selected-filters-panel {
  border-bottom-style: solid;
  border-width: thin;
  border-color: #b1b4b6;
  background-color: #f3f2f1;
  padding-bottom: 1rem;
}

.warnings-selected-filters-section,
.locations-selected-filters-section,
.contacts-selected-filters-section {
  display: flex;
  align-items: center;
  background-color: #f3f2f1;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.5rem;
}

.warnings-apply-filters,
.locations-apply-filters,
.contacts-apply-filters {
  padding-left: 1.3rem;
  padding-right: 1rem;
}

.locations-filter-name-section,
.contacts-filter-name-section {
  display: flex;
  padding-left: 1rem;
  gap: 0.5rem;
}

.locations-filter-other-section,
.contacts-filter-other-section {
  display: flex;
  padding-left: 1rem;
  gap: 0.2rem;
}

.locations-selected-filter-row,
.contacts-selected-filter-row {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.warnings-selected-filter-label,
.locations-selected-filter-label,
.contacts-selected-filter-label {
  font-size: 16px;
}

.warnings-selected-filter-icon,
.locations-selected-filter-icon,
.contacts-selected-filter-icon {
  width: 1rem;
  height: 1rem;
}

.filter-label {
  color: #1d70b8;
}

.locations-table-panel,
.contacts-table-panel {
  display: flex;
  color: #505a5f;
}

.locations-table-header,
.contacts-table-header {
  display: flex;
  color: #505a5f;
}

.warnings-reports-paragraph {
  display: flex;
  color: #505a5f;
}

.warnings-table-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
}

.warnings-table-icon {
  width: 2.5em;
  height: 2.5em;
}

.warnings-table-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.locations-map-key {
  display: flex;
  align-items: center;
}

.reports-table-data-position .govuk-table__cell {
  vertical-align: middle;
}

.reports-table-icon-position {
  display: 'flex';
  gap: '0.5rem';
}

.flood-warning-popup-tab-group {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.flood-warning-popup-tab {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  color: #1d708b;
}

.flood-warning-popup-tab.selected {
  border-bottom: 2px solid #1d70b8;
  color: #000000;
}

.flood-warning-card {
  padding: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  background-color: #ffd7dc;
  border-left: 5px solid #db091c;
  border-radius: 0;
}

.flood-warning-card.alert {
  background-color: #fdf1e3;
  border-left: 5px solid #eb7c25;
}

.flood-warning-card-content {
  display: flex;
  align-items: center;
}

.flood-warning-card-icon {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.input-with-icon {
  position: relative;
}

.keyword-search-container {
  background: #f3f2f1;
}

.keyword-search-input-container {
  display: flex;
  width: 100%;
}

.keyword-search-input {
  position: relative;
  z-index: 1;
  white-space: nowrap;
}

.keyword-search-button-container {
  vertical-align: top;
  position: relative;
  white-space: nowrap;
  width: 40px;
}

.keyword-search-button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
  background-color: #00703c;
  border: 2px solid #00703c;
  cursor: pointer;
  color: #fff;
}

.keyword-search-button:hover {
  background-color: #005a30;
  border-color: #005a30;
}

.input-icon {
  position: absolute;
  left: 8px;
  top: 65%;
  transform: translateY(-50%);
  z-index: 1;
}

.govuk-input-icon {
  padding-left: 35px;
}

.org-flood-warning-key {
  display: flex;
  gap: 1.25rem 1.75rem;
  background-color: #f3f2f1;
  padding: 0.625rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.org-flood-warning-item,
.org-flood-alert-item {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}

.org-flood-warning-item img,
.org-flood-alert-item img {
  width: 1.5625rem;
  height: 1.5625rem;
}

.org-flood-warning-text {
  line-height: 1.2;
}

.org-flood-warning-square {
  width: 1.5625rem;
  height: 1.5625rem;
  flex-shrink: 0;
}

.warning-square {
  background-color: #e5646c;
}

.alert-square {
  background-color: #efae6b;
}

.warning-area-pattern-fill {
  fill: url(#warning-pattern);
}

.alert-area-pattern-fill {
  fill: url(#alert-pattern);
}

.existing-boundary-area-pattern-fill {
  fill: url(#existing-boundary-pattern);
}

.shapefile-area-pattern-fill {
  fill: url(#shapefile-pattern);
}

.live-map-shape-pattern-fill {
  fill: url(#live-map-shape-pattern);
}

/* flood risk banner */
.map-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  margin: 0;
}

[aria-sort] button:focus {
  background-color: #ffdd00;
  color: #0b0c0c;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  outline: none;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button:before {
  content: ' ▼';
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: ' ▲';
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort='ascending'] button:before,
[aria-sort='descending'] button:before {
  content: none;
}

[aria-sort='ascending'] button:after {
  content: ' ▲';
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort='descending'] button:after {
  content: ' ▼';
  font-size: 0.8em;
  position: absolute;
  right: -5px;
  top: 2px;
}
.flood-risk-banner {
  display: flex;
  align-items: center;
  border: 1px solid #b1b4b6;
  padding: 5px;
  height: 100%;
}

.flood-risk-banner-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.flood-risk-banner-title {
  margin-right: 30px;
  font-size: 16px;
}

.flood-risk-banner-label {
  display: inline-block;
}

.flood-risk-container {
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 30px;
}

.very-low-risk {
  background-color: rgba(0, 112, 60, 0.2);
}

.low-risk {
  background-color: rgba(255, 243, 176, 1);
}

.medium-risk {
  background-color: rgba(244, 119, 56, 0.4);
}

.high-risk {
  background-color: rgba(244, 153, 190, 0.6);
}

.unlikely-risk {
  background-color: rgba(243, 242, 241, 1);
}

.possible-risk {
  background-color: rgba(244, 153, 190, 0.6);
}
.section-break-bold {
  border-bottom: 0.05rem solid black;
  opacity: 1;
}

.outline-1px {
  outline: 1px solid lightgray;
}

.textarea-info {
  margin-top: -28px;
  color: #505a5f;
}

.button-menu {
  display: inline-block;
  position: relative;
}

.button-menu-list {
  list-style-type: none;
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: 2px;
}

.button-menu-item {
  display: inline-flex;
  width: 240px;
  text-align: left;
}

.button-menu > .govuk-button,
govuk-menu-toggle.button-menu > button {
  margin-bottom: 0;
  vertical-align: baseline;
}

.button-menu__toggle-button {
  display: inline;
}

.button-menu__toggle-button span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.button-menu__toggle-button svg {
  transform: rotate(180deg);
  margin-top: 2px;
}

.custom-tooltip {
  font-size: 16px;
  font-weight: bold;
}

.custom-tooltip .leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none !important;
}

.contacts-map-container {
  height: 60vh;
}

.custom-checkbox-container .govuk-checkboxes__label:before {
  background-color: white !important;
}

.private-beta-header {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  background: #1d70b8;
}

.private-beta-header-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 20px;
}

.private-beta-header-container-toggle {
  display: flex;
  align-items: center;
  font-weight: 300;
  gap: 5px;
}

.private-beta-header-info-container {
  position: relative;
  padding-top: 8px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  gap: 10px;
}

.private-beta-watermark {
  min-height: 100%;
  background: url('data:image/svg+xml;utf8,<svg style="transform:rotate(28.76deg)" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 85 10"><text x="0" y="0" opacity="0.1" font-family="Arial" fill="%23000">Test service</text></svg>')
    0 0/300px 300px;
}

.outline-1px {
  outline: 1px solid lightgray;
}

.org-service-selection-container {
  background: #ffffff;
}

.org-service-selection-header {
  color: #ffffff;
  background-color: #505a5f;
  padding: 0.625rem;
}

.org-service-selection-footer {
  background-color: #f3f2f1;
  padding: 0.625rem 0 0.625rem 0.625rem;
}

.org-service-selection-hr {
  height: 1px;
  color: #b1b4b6;
}

.private-beta-mock-banner {
  border-left-style: solid;
  border-width: 10px;
}

.custom-table-cell {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  max-width: 50vw !important;
}

.text-nowrap {
  text-wrap: nowrap;
}

.right {
  float: right;
}

.live-map-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.live-map-filter-severe {
  background-color: #ffd7dc;
}

.live-map-filter-warning {
  background-color: #fceaec;
}

.live-map-filter-alert {
  background-color: #fdf1e3;
}

.live-map-filter-removed {
  background-color: #f5f5f5;
}

.live-map-filter-icon {
  flex: 0 0 auto;
  margin-right: 2px;
}

.live-map-filter-image {
  width: 100px;
  height: 75px;
}

.live-map-filter-count {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.live-map-filter-locations {
  font-size: 14px;
}

.live-map-filter-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

.live-map-filter-caption {
  font-size: 14px;
}

.live-map-filter-checkbox {
  flex: 0 0 auto;
  margin-left: auto;
}

.live-map-popup-warning-container {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.live-map-popup-severe {
  background-color: #ffd7dc;
}

.live-map-popup-warning {
  background-color: #fceaec;
}

.live-map-popup-alert {
  background-color: #fdf1e3;
}

.live-map-popup-icon-container {
  flex: 0 0 auto;
  margin-right: 12px;
}

.live-map-popup-icon {
  width: 100px;
  height: 82px;
}

.live-map-popup-content {
  flex: 1;
}

.live-map-popup-scroll-container {
  overflow-y: visible;
  max-height: unset;
}

.live-map-popup-scrollable {
  max-height: 300px;
  overflow-y: auto;
}

.live-map-disabled {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 65px 100px;
  z-index: 1100;
  text-align: center;
}

/* This should stay near the end of the stylesheet to override link styling for print */
@media print {
  a[href]:after {
    content: none !important;
  }
}
