/* Option styling */
.select__option:not(.select__option--is-disabled) {
  background-color: white;
  color: black;
  cursor: pointer !important;
  opacity: 1;
}

.select__option--is-selected {
  background-color: #3b3b3b !important;
  color: white !important;
  cursor: not-allowed !important;
}

.select__option--is-disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.select__option.keyboard-focused {
  background-color: #1d70b8 !important;
  color: white !important;
}

.select__option:hover {
  background-color: #1d70b8;
  color: white !important;
}

/* Control (the box) */
.select__control {
  border: 2px solid #0b0c0c !important;
  border-radius: 0 !important;
}

.select__control:hover {
  border-color: #fd0 !important;
}

/* Single selected value */
.select__single-value {
  color: black;
}

/* Placeholder text */
.select__placeholder {
  color: black !important;
}
