.custom-header-link {
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 0;
  line-height: 1.25;
}

.sub-navigation {
  background-color: #f3f2f1;
  box-shadow: inset 0 -0.0625rem 0 #b1b4b6;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 54px;
  align-content: center;
}

.sub-navigation__list {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-navigation__item {
  font-family: 'GDS Transport', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  box-shadow: none;
  display: block;
}

.sub-navigation__item.bold {
  font-weight: 700;
}
