.inline-link {
    display: inline-block;
    padding: 0.5rem 0.625rem 0.4375rem
}

.timeout-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0B0C0C99;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000
}

.timeout-dialog-container {
    background-color: white;
    border-style: solid;
    border-width: medium;
    padding: 1.5rem
}

.timeout-dialog-flex {
    display: flex;
    justify-content: start;
    justify-items: start;
    gap: 2rem
}

.timeout-dialog-link {
    width: 100%;
}

@media (min-width: 40.0625em){
    .timeout-dialog-link {
        width:auto;
    }
}