# Default values for ea-nws-website.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
frontend:
  replicaCount: 1
  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  serviceAccount: {}
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  containers:
    - name: frontend
      securityContext: {}
      image:
        repository: ea_nws_website
        pullPolicy: IfNotPresent
        tag: "frontend-1.0"
      livenessProbe:
        httpGet:
          path: /
          port: 3000
      readinessProbe:
        httpGet:
          path: /
          port: 3000
      resources: {}
      volumeMounts: []
  service:
    type: ClusterIP
    ports:
      - name: frontend
        port: 3000
        protocol: TCP
        targetPort: 3000
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  volumes: []
  ingress:
    enabled: false
  nodeSelector: {}
  tolerations: []
  affinity: {}
  dnsPolicy: ClusterFirst

backend:
  replicaCount: 1
  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""
  serviceAccount: {}
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  containers:
    - name: backend
      securityContext: {}
      image:
        repository: ea_nws_website
        pullPolicy: IfNotPresent
        tag: "backend-1.0"
      livenessProbe:
        httpGet:
          path: /liveness
          port: 5000
      readinessProbe:
        httpGet:
          path: /readiness
          port: 5000
      resources: {}
      volumeMounts: []
  service:
    type: ClusterIP
    ports:
      - name: backend
        port: 5000
        protocol: TCP
        targetPort: 5000
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  volumes: []
  ingress:
    enabled: false
  nodeSelector: {}
  tolerations: []
  affinity: {}
  dnsPolicy: ClusterFirst
